a{
  text-decoration: none;
}


@media screen and (max-width: 965px){
  .sbox{
    grid: 1fr 1fr / 1fr;
    text-align: center;
  }
  .sbox1{
    text-align: center;
  }
  .box2{
    grid: 1fr 1fr 1fr / 1fr;
  }
  .user.a{
    grid-column: 1/2;
  }
  .top-nav{
    display: none;
  }
  .btn-show{
  display: block;
  }
  .sbox1, .sbox2{
    clear: left;
  }
}


*{
  color: #fff;
  font-family: sans;
  margin:0;
  padding:0;
}