header{
  background-image: url(http://catcut.net/h9IB);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.img{
  padding: 200px 0 100px;
  text-align: center;
}

.shadow{
  background: radial-gradient(60% 40%, rgba(0,0,0,0), #000);
  opacity: 0.9;
}

.top-nav{
  padding: 23px 0;
  margin: auto;
  width: 615px;
}
.logo{
  padding: 10px;
  position: absolute;
  top: 10px;
  left: 10px;
}
.menu-item{
  padding-right: 30px;
}
.menu-item:hover{
  color: #86de00;
}
.sign{
  background: url(web-log-in-w.svg) no-repeat 80%;
  background-size: 30px 30px;
  padding-right: 60px;
  position: absolute;
  right: 10px;
  top: 10px;
}
.sign:hover{
  background: url(web-log-in.svg) #fff no-repeat 80%;
  background-size: 30px 30px;
}


.btn-show{
  display: none;
  background: none;
  position: absolute;
  right: 10px;
  top: 10px;
}
.btn-show:hover{
  background: #fff;
}

.btn-close{
  font-size: 20px;
  position: absolute;
  left: 10px;
  top: 10px;
}
.btn-close:hover{
  background: #fff;
}

.mobile-menu{
  position: fixed;
  top: 0;
  right: -100%;
  transition: 1s;
  width: 100%;
  height: 100%;
}
.mm-menu-items{
  padding: 50px;
}

.show{
  background: rgba(0,0,0,1);
  position: fixed;
  right: 0;
  top: 0;
  transition: 0.5s;
  width: 100%;
  height: 100%;
}

.mm-mi-border-b{
  border-bottom: 1px solid;
  text-align: center;
}
.border-none{
  border: none;
}
.mm-menu-item{
  display: block;
  padding: 20px 0;
}
.mm-menu-item:hover{
  color: #86de00;
}

.mm-header{
  height: 70px;
}

.b-arrow{
  text-align: center;
  font-size: 80px;
  padding-bottom: 100px;
  transition: 1s;
}
.b-arrow.move{
  padding-top: 50px;
  transition: 1s;
}