
.one{
}
.two{
	float: left;
}
.three{
}

.user{
	background: darkcyan;
	color: #000;
	border-radius: 30px;
	text-align: center;
}
.info{
}

.avatar{
  border-radius: 100px;
  border: solid 5px #86de00;
}

.users{
	background: gray;
	color: #000;
}

.top-users{
  margin: auto;
  height: 800px;
}






.sbox{
	margin: auto;
	height: 400px;
	width: 100%;
}

.sbox1, .sbox2{
}
.sbox1{
	width: 40%;
	float: left;
	/*! padding: 0 30px 0 0; */
}
.sbox2{
	float: left;
	width: 40%;
	/*! padding: 0 0 0 30px; */
}

.hr{
	float: left;
	height: 500px;
	width: 5px;
	background: #fff;
}
.hr1{
	display: ;
	height: 5px;
	width: 300px;
	background: #fff;
}