@media screen and (max-width: 965px){
  .find-box{
    display: block;
  }
  .top-nav{
    display: none;
  }
  .btn-show{
  display: block;
  }
  .find{
    display: none;
  }
  .f-show{
    display: none;
  }
}
@media screen and (max-width: 450px){
  .find-box{
    display: none;
  }
  .top-nav{
    display: none;
  }
  .find{
    display: none;
  }
}
@media screen and (max-width: 472px){
  input{
    border-radius: 15px;
  }
  .find-b{
    border-radius: 100px;
  }
}

*{margin:0;padding:0;font-family: sans;}